<nav class="nav-container-fixed">
  <div class="nav-content-left">
    <!-- <div class="search-box">
      <span class="s-icon">🔍</span>
      <input type="text" placeholder="Search ideas, reports, or competitors...">
    </div> -->
  </div>

  <div class="nav-content-right">
    <div class="nav-date">Friday, January 30, 2026</div>
    <div class="nav-profile">
      <div class="nav-user">
        <span class="nav-name">Alex Venture</span>
        <span class="nav-role">PRO INVESTOR</span>
      </div>
      <div class="nav-avatar">AV</div>
    </div>
  </div>
</nav>