.chart-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.trend-svg {
  width: 100%;
  height: 100%;
  /* Smooth animation when data updates */
  transition: all 0.5s ease-in-out;
}

polyline {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.05));
}